@import "../../../variables";

.title-expanded {
    height: 8rem;
    font-size: 2rem;
    box-shadow: 0 0 0.5rem grey;
    background-color: $primary-color;
    margin-bottom: 1rem;
    color: white;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}